<html>
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<form action="/usuario/nuevo" method="post">
			<p>Nombre</p>
			<input type='text' placeholder="Nombre" name='nombre'/>
			<p>Primer Apellido</p>
			<input type='text' placeholder="Primer Apellido" name='primerApellido'/>
			<p>Segundo Apellido</p>
			<input type='text' placeholder="Segundo Apellido" name='segundoApellido'/>
			<p>Contraseña:</p>
			<p><input type="password" placeholder="Contraseña" name="contraseña"/></p>
			<p>Email</p>
			<input type='text' placeholder="Correo electronico" name='email'/>
		
			<p><input type='submit' value='Registrarse'/></p>
			<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
		<form action="/">
			<input type='submit' value='Cancelar'/>
			<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
	</body>
</html>