<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
</head>
<body>
	<h1>SALE WEB</h1>
	<form action="/" method="post" accept-charset="utf-8">
	<p>Email o Username: </p>
		<input type="text" name="email" placeholder="Usuario o Correo electronico..." size="30"><br>
		<p>Contraseña:<p/>
		<input type="password" type="text" name="contraseña" size="30" placeholder="Contraseña..."><br>
		<br>
		<input type="submit" name="guardar" value="Log In"> 
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form><br>
	<form action="/registrar_usuario" method = "post" accept-charset="utf-8">
		<input type="submit" name="registrarse" value="Sign Up">
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>
</body>
</html>