<html>
<head>
	<meta charset="utf-8">
</head>
<body>
 	<p>Nombre: {{articulo.nombre}}</p>
 	<p>seccion: {{articulo.seccion}}</p>
 	<p>Descripcion: {{articulo.descripcion}}</p>

 	<form action="/comentario/articulo/{{id}}" method="post" accept-charset="utf-8">
 		<p>Comentario: <textarea name="cuerpo" placeholder="Escriba aqui su comentario..."></textarea></p>
 		<input type="submit" name="comentar" value="Comentar">
 	</form>
	<p>Comentarios: </p>
	{{#comentarios}}
	<p><a href="/articulo/comentario/{{id}}">{{cuerpo}}</a><br><p>
	{{/comentarios}}
 	<form action="/articulo/{{id}}/añadido" accept-charset="utf-8">
 		<input type="submit" name="carrito" value="Añadir al carrito">
 	</form>
 	<form action="/tienda" accept-charset="utf-8">
 		<input type="submit" name="volver" value="Volver a la tienda">
 	</form>
</body>
</html>