<html>
<head>
	<meta charset="utf-8">
</head>
<body>
 	<p>Nombre: {{articulo.nombre}}</p>
 	<p>seccion: {{articulo.seccion}}</p>
 	<p>Descripcion: {{articulo.descripcion}}</p>
 	
 	<form action="/carrito" accept-charset="utf-8">
 		<input type="submit" name="carrito" value="Añadir al carrito">
 	</form>
 	<form action="/articulo/{num}/comprado" accept-charset="utf-8">
 		<input type="submit" name="comprar" value="Comprar">
 	</form>
 	<form action="/tienda" accept-charset="utf-8">
 		<input type="submit" name="volver" value="Volver a la tienda">
 	</form>
</body>
</html>