<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF8"/>
		<meta charset="iso-8559-1"/>
		<meta name="description" content="Pagina de enseñanza html"/>
		<meta name="keywords" content="html5, css3, Javascript, diseño web"/>
		<link rel="stylesheet" type="text/css" href="nuevoevento.css">
</head>
<body>

<div class="todo">
	<form>
		<div id="nombre">
			<p>Nombre del Evento: <input type="text" name="nombre"/></p>
		</div>
		<div id="asignatura">
			<p> Asunto: <input type="text" name="nombre" size="15"/></p>
		</div>
		<div id="Comentario">
			<p>Comentario: <textarea rows="5" cols="50" value="escriba aqui..." name="comentario"></textarea></p>
		</div>
	</form>
	<form  method ="get" action="AnuncioController">

			<input class="Enviar" type="submit" value="Enviar">
	</form>
</div>
</body>
</html>